DB_PASSWORD=Your_password123

# Database configuration
ConnectionStrings__DefaultConnection=Server=db;Database=BMWMS;User Id=sa;Password=Your_password123;TrustServerCertificate=True

# SMTP Settings
SmtpSettings__Host=smtp.gmail.com
SmtpSettings__Port=587
SmtpSettings__Username=wangdumb123@gmail.com
SmtpSettings__Password=kqao mafd muds zrrt
SmtpSettings__EnableSsl=true
SmtpSettings__FromEmail=wangdumb123@gmail.com

# JWT Configuration
Jwt__Key=SuperSecretKeyForBMWMS_WhichIsAtLeast32BytesLong!
Jwt__Issuer=BMWMS.API
Jwt__Audience=BMWMS.Web
Jwt__ExpireMinutes=480

# Web Configuration
ApiSettings__BaseUrl=http://api:8080
